/* --------------------------------- */
/* 共通 */

:root {
    --main-color: #c1d1d4;
    --accent-color: #ececec;
    --dark-main-color: #333;
    --text-bright-color: #f2f2f2;
    --icon-color: #fff;
    --icon-bk-color: #ececec;
    --large-width: 1000px;
    --middle-width: 800px;
}

body {
    margin: 0;
    font-family: "minion-pro","serif","Noto Sans JP", -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Helvetica, "游ゴシック Medium", meiryo, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.1rem;
    color: var(--dark-main-color);

}

.container {
    padding: 5rem 10rem 0 10rem; 
}

.conB__sub-title{
  margin-top: 5rem;
  font-size: 5rem;
  font-weight: normal;
}

li {
    list-style: none;
    margin-right: 1rem;
    margin: 1rem;

}

a {
    color: var(--dark-main-color);
    text-decoration: none;
}

p{
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  font-weight: 300;
  font-style: normal;
}

[class$="__title"],
[class*="__title "],
[class$="__sub-title"],
[class*="__sub-title "]{
  color: var(--main-color);
}

[class$="__title"] span,
[class*="__title "] span{
  color: var(--main-color);
}

[class$="__title"]::before,
[class*="__title "]::before{
  background-color: var(--main-color);
}

/* ------------------------------ */
/* リンクをちょうどいい位置に飛ばす */
a.anchor {
  display: block;
  padding-top: 70px;
  margin-top: -70px;
}
/* リンクをちょうどいい位置に飛ばす */
/* ------------------------------ */


/** クラス指定の末尾の文字列が[__text]だったら*/
div[class$="__text"],
[class*="__text "]{

  line-height: 3rem;
  text-align: center;
}

/* 共通 */
/* --------------------------------- */

/* --------------------------------- */
/* header */

.header {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    background: transparent;
    z-index: 100;
}

.gnav__list{
  display: flex;
	justify-content: flex-start;
  padding: 1rem;
}

.gnav__item {
   font-size: 1.5rem;
   text-align: center;
}

.gnav__link{
  display: block;
  color:var(--text-bright-color);
}

/* header */
/* --------------------------------- */

/* --------------------------------- */
/* main-top */

.slider {
  position:relative;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
  height: 110vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  min-height: 400px;
  padding: 0;
  margin: 0;
  width: 100%;
  background-position: center;
}
/*　背景画像設定　*/

.slider-item01 {
  background-image:url(../img/header1.png);
}

.slider-item02 {
  background-image:url(../img/header1.png);
}

.slider-item03 {
  background-image:url(../img/header1.png);
}

[class^="slider-item"],
[class*=" slider-item"]{
  position: relative;
  height:110vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;/*背景画像をリピートしない*/
  background-position: center center;/*背景画像の位置を中央に*/
  background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
  margin: 0;
}
/* slider共通 */
/* --------------------------------- */

.slider__item__text{
  position: absolute;
  top: 50%!important;
  left: 50%!important;
  line-height: normal!important;
  padding: 0;
  margin-left: -1rem;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  display: none;
}

/*ドットナビゲーションの設定*/

.slick-dots {
  position:relative;
  text-align:center;
  margin:-3rem 0 0 0;
  padding: 0;
}

.slick-dots li {
  display:inline-block;
  margin:0 5px;
}

.slick-dots button {
  width: 2px;   /*ドットボタンの幅*/
  height: 12px; /*ドットボタンの高さ*/
  color: transparent;
  outline: none;
  display:block;
  border-radius:50%;
  border: none;
  background:var(--icon-color);/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:var(--dark-main-color);/*ドットボタンの現在地表示の色*/
}

/* --------------------------------- */


/* main-top */
/* --------------------------------- */

/* --------------------------------- */
/* introduce */

.conB__title{
  font-size: 1rem;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

.conB__title::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;/*線の上下位置*/
    display: inline-block;
    width: 60px;/*線の長さ*/
    height: 1px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    border-radius: none;/*線の丸み*/
}

/* introduce */
/* --------------------------------- */

/* --------------------------------- */
/* img + text 横並び */

/* これで横並びにする */
.case__item {
  display: flex;
  margin: 4rem auto;
}

.case__item:nth-child(odd){
  flex-direction: row-reverse; 
}

.case__item__img {
width: 50%;
border-radius: 20px;
}

.case__item__text {
margin: 0 3rem;
}

/* img + text 横並び */
/* --------------------------------- */

/* --------------------------------- */
/* card 共通 */

[class^="card__imgframe"],
[class*="card__imgframe "]{
  width: 100%;
  height: 50%;
  padding-top: 56.25%;
  box-sizing: border-box;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 20px;
}

.card__imgframe01{
  background-image: url(../img/a.png);
}

.card__imgframe02{
  background-image: url(../img/b.png);
}

.card__imgframe03{
  background-image: url(../img/c.png);
}

.card__text{
  width: 100%;
  height: auto;
  padding: 3rem 0;
  box-sizing: border-box;
}
.card__text > * + *{
  margin-top: 10px;
}

.card__name{
  height: 10rem;
  
}

.card__item {
  position:relative;
}

.card__item::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;/*線の上下位置*/
  display: inline-block;
  width: 60px;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color:var(--dark-main-color);/*線の色*/
  border-radius: none;/*線の丸み*/
}

/* card 共通 */
/* --------------------------------- */

/* --------------------------------- */
/* card 3col */

.conC__title{
  position: relative;
  font-size: 1rem;
  text-align: left;
  
  display: inline-block;
  margin-bottom: 1em;
}

.conC__sub-title {
  text-align: left;
  margin: 3rem 0 ;
  font-size: 5rem;
  font-weight: normal;
}

.conC__text p {
  margin: -1rem 0 1rem 0;
  text-align: left;
  line-height: 2rem;

}

.conC__text p  br{
  display: none;
}


.card-group3{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .card-group3 > :not(:nth-child(3n-2)){
    margin-left: 20px;
  }  

  /* 否定セレクタ（:not）と1行目の要素（3n-2）の組み合わせで
  最初の行以外の要素を選択しています。 */

  .card-group3 > :nth-child(n+4){
    margin-top: 20px;
  }  
  /* :nth-child(n+3)でカードグループの直接の子要素の中でも4番目以降のカードの要素だけを指定しています。 */


  .card3{
    height: auto;
    border-radius: 8px;
    width: calc((100% - 20px * 2) / 3);
  }

  .card3:last-child{
    margin-right: 0;
  }



/* card 3col */
/* --------------------------------- */

/* slider画面いっぱい */
/* --------------------------------- */

.slide__conpact {
  position:relative;
  background-position: center center;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
  height: 80vh;/*スライダー全体の縦幅を画面の高さいっぱい（80vh）にする*/
  padding: 0;
  margin: 3rem auto;
  width: 100%;
}

/*　背景画像設定　*/

[class^="slide__conpact-item"],
[class*=" slide__conpact-item"]{
  position: relative;
  height:70vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;/*背景画像をリピートしない*/
  background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
  border-radius: 20px;
}

.slide__conpact-item1-1 {
  background-position: center top;/*背景画像の位置を中央に*/
  background-image:url(../img/necklace.png);
}

.slide__conpact-item1-2 {
  background-position: center top;/*背景画像の位置を中央に*/
  background-image:url(../img/necklace.png);
}

.slide__conpact-item1-3 {
  background-position: center top;/*背景画像の位置を中央に*/
  background-image:url(../img/necklace.png);
}

.slide__conpact-item2-1 {
  background-position: center center;/*背景画像の位置を中央に*/
  background-image:url(../img/brand.png);
}

.slide__conpact-item2-2 {
  background-position: center center;/*背景画像の位置を中央に*/
  background-image:url(../img/brand.png);
}

.slide__conpact-item2-3 {
  background-position: center center;/*背景画像の位置を中央に*/
  background-image:url(../img/brand.png);
}


/* slider画面いっぱい */
/* --------------------------------- */




/* --------------------------------- */
/* img　横幅いっぱい */

.image {
  height:45vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;/*背景画像をリピートしない*/
  background-position: center center;/*背景画像の位置を中央に*/
  background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
  background-image:url(../img/btn.png);
}

/* --------------------------------- */
/* img　左右余白あり */

.image2 {
  text-align: center;
  height: 100vh;
}

.image2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
	width: 100%;
	height: 70%
}

/* --------------------------------- */

form {
  margin: 5rem 0 10rem 0;
}

.accent__icon {
  color: var(--main-color);
}

.info__name{
  margin: 1rem 0;
}

.info__item__input {
  border: none;
  border-radius: 6px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100vw;
  max-width: 450px;
  background:var(--text-bright-color);

  font-size: 18px;

  font-family: "minion-pro","serif";
  font-weight: 400;
  font-style: normal;
}

input:focus, select:focus, textarea:focus {
  outline: 1px solid var(--icon-bk-color);
  }

.info__btn {
  border-radius: 6px;
  margin-top: 32px;
  padding: 1rem;
  width: 200px;
  display: block;
  letter-spacing: 0.05em;
  background-color:var(--dark-main-color);
  color: var(--text-bright-color);
  font-size: 20px;
  border:none;

  font-family: "minion-pro","serif";
  font-weight: 400;
  font-style: normal;
}

/* --------------------------------- */






/* --------------------------------- */
/* hamburger */


.hamburger .btn-gNav {
  position: fixed;
  top: 20px;
  right: 40px;
  width: 30px;
  height: 24px;
  z-index: 12;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.hamburger .btn-gNav span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color:var(--text-bright-color);
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.hamburger .btn-gNav span:nth-child(1) {
  top: 0;
}

.hamburger .btn-gNav span:nth-child(2) {
  top: 10px;
}

.hamburger .btn-gNav span:nth-child(3) {
  top: 20px;
}

.hamburger .btn-gNav.open span:nth-child(1) {
  background: #ffffff;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger .btn-gNav.open span:nth-child(2),
.hamburger .btn-gNav.open span:nth-child(3) {
  top: 6px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* hamburger */
/* --------------------------------- */

/* --------------------------------- */
/*----- footer -----*/

.footer{
  width: 100%;
  height: auto;
  background-color:var(--main-color);
  color: var(--dark-main-color);
  bottom: 0; /*下に固定*/
}

.footer .container {
  padding: 5rem 10rem;
}

/* footA */

.footA {
  width: 100%;
  margin-bottom: 3rem;
}

.footA__text{
  text-align: left!important;
  margin-left: 1rem;
  letter-spacing: 0.2rem;
}

.footA__name{
  margin-top:0 ;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.footA .sns__list {
  justify-content: flex-start;
}

/* footA */

/* footB */

.footB {
  width: 100%;
}

.footB__list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.footB__item {
  position: relative;
  display: flex;
  margin: 1rem 0;
}

.footB__item::after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 20px;
  background-color: #b8b9dc;
  
  right: -1px;
  top: calc((100% - 20px)/2);
}

.footB__item:last-child::after {
  content: none;
}


.footB__item a {
  color: inherit;
  letter-spacing: 0.3rem;
  padding: 0 20px;
}

.footB__item span {
  display: flex;
  align-items: center;
  word-break: keep-all;
}

/* footC */

.footC {
  text-align: center;
  letter-spacing: 0.2rem;
}






/*-----footer-----*/
/* --------------------------------- */
  
 /* ------------------------ */
/* phoneのときの制御 */
@media (max-width:599px) {

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
    text-align: center!important;
  }

  .conC__text p  br{
    display: block;
  }

  .container {
    padding:0 3rem !important;
}

.conA,
.conB,
.conc{
  margin-bottom: 3rem;
}

/*　背景画像設定　*/

.slider-item01 {
  background-image:url(../img/header2.png);
}

.slider-item02 {
  background-image:url(../img/header2.png);
}

.slider-item03 {
  background-image:url(../img/header2.png);
}

  /* --------------------------------- */
  /* title */

  [class$="__title"],
  [class*="__title "]{
    text-align: center;
  }

  [class$="__title"] span,
  [class*="__title "] span{
    display: none;
  }

  [class$="__title"],
  [class*="__title "]::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    display: inline-block;
    width: 60px;
    height: 1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: var(--dark-main-color);
    border-radius: none;
}

[class$="__sub-title"],
[class*="__sub-title "]{
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  margin: 1rem 0;
}

/* title */
  /* --------------------------------- */
/* --------------------------------- */
/* slider */

.card-group {
  display:flex;
  flex-flow: column;

}
.card {
  width:100%;
  margin-bottom: 3rem;
}

.card-group > :nth-child(2n) {
  margin-left: 0;

}

.card-group3 {
  display:flex;
  flex-flow: column;

}
.card3 {
  width:100%;
  margin-bottom: 3rem;
}

.card-group3 > :nth-child(n+4) {
  margin-top: 0;

}

.card-group3 > :not(:nth-child(3n-2)){
  margin-left: 0;
}  

.card__name {
  height: 7rem;
}

/* --------------------------------- */

.case__item,
.case__item:nth-child(odd)  {
  display: flex;
  flex-flow: wrap column-reverse;
}

.case__body {
  text-align: center;
  width: 100%;
  padding: 0;

}

.case__item__text{
  margin: 0;
}

.case__item__img{
  width: 100%;
  border-radius: 20px;
}

.slide__conpact {
  height: 33vh;
}

[class^="slide__conpact-item"],
[class*=" slide__conpact-item"]{
  height:25vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

.slider__item__text{
  top: 33%!important;
}
/* slider */
/* --------------------------------- */

/* --------------------------------- */
/* header */
  .btn-gNav {
    display: block;
}

.gnav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    box-sizing: border-box;
    z-index: 1;
    padding-top: 50px;
    transition: .3s;
}

.gnav.open {
    right: 0;
}

.gnav__list {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    text-align: center;
    /*justify-content: center;*/
}

.gnav__item {
    width: 86%;
    padding: 15px;
    border-bottom: var(--text-bright-color) 1px solid;
}

.gnav__link {
  color:var(--text-bright-color);
}

/* --------------------------------- */
/* form */

form {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__item__input{
  max-width: 250px;
  text-align: center;
}

/* form */
/* --------------------------------- */

/* header */
/* --------------------------------- */
/* footer */

footer{
  padding: 3rem 0;
}

.footA__text{
  margin: 0;
}

.footA__text p{
  line-height: 2rem;
  text-align: left!important;
}


.footB__list,
.footB__item {
  display: block;
}

.footB__item::after {
  content: none;
}

.foot__box{
  margin: 3rem 0;
}

.footB__item a {
  padding: 0;
}


/* footer */
/* --------------------------------- */
}

/* ------------------------ */
/* タブレットのときの制御 */
@media (min-width:600px) and (max-width:1299px) {

  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .btn-gNav {
    display: none;
  }

  
/* --------------------------------- */
/* slider */

  .slide__conpact{
    height: 40vh;
  }

  [class^="slide__conpact-item"], 
  [class*=" slide__conpact-item"]{
    height: 30vh;
  }

/* slider */
/* --------------------------------- */

/* --------------------------------- */
 /* title */

[class$="__sub-title"],
[class*="__sub-title "]{
  font-size: 4rem;
  line-height: 5rem;
}

/* title */
  /* --------------------------------- */

/*　背景画像設定　*/

.slider-item01 {
  background-image:url(../img/header2.png);
}

.slider-item02 {
  background-image:url(../img/header2.png);
}

.slider-item03 {
  background-image:url(../img/header2.png);
}

}
/* タブレットのときの制御 */
/* ------------------------ */

/* ------------------------ */
/* PCのときの制御 */
@media (min-width:1300px)  {

  h1 {
    font-size: 46px;
  }

  h2 {
      font-size: 24px;
  }

  p {
      font-size: 18px;
  }

  .btn-gNav {
    display: none;
  }

  .mini__container{
    padding: 0 8rem; 
  }
  

}


/* PCのときの制御 */
/* ------------------------ */

/* ------------------------ */
/* ダークモードの対応 */
.div {
  color: light-dark(#333, #fff);
  background-color: light-dark(#fff, #333);
}
/* ダークモードの対応 */
/* ------------------------ */
