/* --------------------------------- */
/* title */
  
[class$="__title"],
[class*="__title "]{

  position: relative;
  font-size: 1rem;
  text-align: left;
  
  display: inline-block;
  margin-bottom: 1em;

}

[class$="sub-title"],
[class*="sub-title "]{

  text-align: left;
  margin: 3rem 0 ;
  font-size: 5rem;
  font-weight: normal;

}

[class$="__text"] p,
[class*="__text "] p{

  margin: -1rem 0 1rem 0;
  text-align: left;
  line-height: 2rem;
  margin-bottom: 3rem;

}

/* title */
/* --------------------------------- */


/* --------------------------------- */
/* conA */

.slider {
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
  width: 100vw;
  padding: 0;
  margin: 0;
}
/*　背景画像設定　*/

.slider-item01 {
  background-image:url(../img/header1.png);
}

.slider-item02 {
  background-image:url(../img/header2.png);
}

.slider-item03 {
  background-image:url(../img/header3.png);
}

[class^="slider-item"],
[class*=" slider-item"]{
  position: relative;
  height:110vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  min-height: 1080px;
  width: 100%;
  background-repeat: no-repeat;/*背景画像をリピートしない*/
  background-position: center top;/*背景画像の位置を中央に*/
  background-size: 100%;/*背景画像が.slider-item全体を覆い表示*/
  margin: 0;
}

.slider__item__text{
  position: absolute;
  top: 50%!important;
  left: 50%!important;
  line-height: normal!important;
  padding: 0;
  margin-left: -1rem;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  display: none;
}

/*ドットナビゲーションの設定*/

.slick-dots {
  position:relative;
  text-align:center;
  margin:2rem 1rem 0 0;
  padding: 0;
}

.slick-dots li {
  display:inline-block;
  margin:0 5px;
}

.slick-dots button {
  width: 2px;   /*ドットボタンの幅*/
  height: 12px; /*ドットボタンの高さ*/
  color: transparent;
  outline: none;
  display:block;
  border-radius:50%;
  border: none;
  background:var(--icon-bk-color);/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:var(--dark-main-color);/*ドットボタンの現在地表示の色*/
}

/* conA */
/* --------------------------------- */

/* --------------------------------- */
/* conB */

.conB__text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column
}


.conB__title{
  font-size: 1rem;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

.conB__sub-title{
  margin-top: 5rem;
  font-size: 5rem;
  font-weight: normal;
  text-align: center;
}

.conB__title::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: var(--main-color);
  border-radius: none;
}

/* conB */
/* --------------------------------- */

/* --------------------------------- */
/* conC */

/* これで横並びにする */
.case__item {
  display: flex;
  margin: 4rem auto;
}

.case__item:nth-child(odd){
  flex-direction: row-reverse; 
}

.case__item__img {
width: 50%;
border-radius: 20px;
}

.case__item__text {
margin: 0 3rem;
}

/* conC */
/* --------------------------------- */

/* --------------------------------- */
/* conD */

[class^="card__imgframe"],
[class*="card__imgframe "]{
  width: 100%;
  height: 50%;
  padding-top: 56.25%;
  box-sizing: border-box;

  background-position: center center;
  background-size: 55%;
  background-repeat: no-repeat;

  border-radius: 20px;
}

.card__imgframe01{
  background-image: url(../img/a.png);
}

.card__imgframe02{
  background-image: url(../img/b.png);
}

.card__imgframe03{
  background-image: url(../img/c.png);
}

.card__text{
  width: 100%;
  height: auto;
  padding: 3rem 0;
  box-sizing: border-box;
}
.card__text > * + *{
  margin-top: 10px;
}

.card__name{
  height: 10rem;
  
}

.card__item {
  position:relative;
}

.card__item::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;/*線の上下位置*/
  display: inline-block;
  width: 60px;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color:var(--dark-main-color);/*線の色*/
  border-radius: none;/*線の丸み*/
}


.card-group3{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

.card-group3 > :not(:nth-child(3n-2)){
  margin-left: 20px;
}  

  /* 否定セレクタ（:not）と1行目の要素（3n-2）の組み合わせで
  最初の行以外の要素を選択しています。 */

  .card-group3 > :nth-child(n+4){
    margin-top: 20px;
  }  
  /* :nth-child(n+3)でカードグループの直接の子要素の中でも4番目以降のカードの要素だけを指定しています。 */


  .card3{
    height: auto;
    border-radius: 8px;
    width: calc((100% - 20px * 2) / 3);
  }

  .card3:last-child{
    margin-right: 0;
  }


/* conD */
/* --------------------------------- */

/* conE */
/* --------------------------------- */

.slide__conpact {
  position:relative;
  background-position: center center;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
  padding: 0;
  width: 100%;
}

/*　背景画像設定　*/

[class^="slide__conpact-item"],
[class*=" slide__conpact-item"]{
  position: relative;
  min-height: 500px;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;/*背景画像をリピートしない*/
  background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
  border-radius: 20px;
  background-position: center center;/*背景画像の位置を中央に*/
}

.slide__conpact-item1-1 {
  background-image:url(../img/necklace.png);
}

.slide__conpact-item1-2 {
  background-image:url(../img/necklace2.png);
}

.slide__conpact-item1-3 {
  background-image:url(../img/necklace3.png);
}

.slide__conpact-item1-4 {
  background-image:url(../img/necklace4.png);
}


.slide__conpact-item2-1 {
  background-image:url(../img/brand.png);
}

.slide__conpact-item2-2 {
  background-image:url(../img/brand.png);
}

.slide__conpact-item2-3 {
  background-image:url(../img/brand.png);
}



.image {
  height:45vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;/*背景画像をリピートしない*/
  background-position: center center;/*背景画像の位置を中央に*/
  background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
  background-image:url(../img/btn.png);
}


/* conE */
/* --------------------------------- */


/* --------------------------------- */
/* conF */
/* ふわっとアニメーション */


  .slideBox {
    height: 600px;
    overflow: hidden;
    position: relative;
  }
  
  /* テキストがあるバージョン */
  .title {
    font-size: 32px;
    color: var(--dark-main-color);
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .slide__item {
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 108%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: anime 30s 0s infinite;
    animation: anime 30s 0s infinite;
    
  }

  .sldA{
    background-image: url(../img/sldA.png);
  }

  .sldB{
    background-image: url(../img/sldB.png);
  }
  
  .sldC{
    background-image: url(../img/sldC.png);
  }

  .sldD{
    background-image: url(../img/sldD.png);
  }
  
  
  .slide__item:nth-of-type(2) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
  }
  
  .slide__item:nth-of-type(3) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
  }
  
  /* ふわっとアニメーション */
  @keyframes anime {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      z-index: 9;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes anime {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      z-index: 9;
    }
    100% {
      opacity: 0;
    }
  }



/* ふわっとアニメーション */
/* conF */
/* --------------------------------- */

/* --------------------------------- */
/* conH */

form {
  margin: 5rem 0 10rem 0;
}

.accent__icon {
  color: var(--main-color);
}

.info__name{
  margin: 1rem 0;
}

.info__item__input {
  border: none;
  border-radius: 6px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100vw;
  max-width: 450px;
  background:var(--text-bright-color);

  font-size: 18px;

  font-family: "minion-pro","serif";
  font-weight: 400;
  font-style: normal;
}

input:focus, select:focus, textarea:focus {
  outline: 1px solid var(--icon-bk-color);
  }

.info__btn {
  border-radius: 6px;
  margin-top: 32px;
  padding: 1rem;
  width: 200px;
  display: block;
  letter-spacing: 0.05em;
  background-color:var(--dark-main-color);
  color: var(--text-bright-color);
  font-size: 20px;
  border:none;

  font-family: "minion-pro","serif";
  font-weight: 400;
  font-style: normal;
}

/* conH */
/* --------------------------------- */






